@use "../abstracts" as *;

.d38-pied {
  @include gouttieres;

  padding-block: clamp(3rem, 6vw, 5rem) 2rem;
  border-top: 2px solid var(--bleu-canard);

  &__grille {
    display: grid;
    gap: 2.5rem;

    @include ecran($ecran-moyen) {
      grid-template-columns: 1fr 1fr;
    }

    @include ecran($ecran-large) {
      grid-template-columns: 1.2fr 1fr 1.2fr;
      gap: 4rem;
    }

    > * {
      margin-block: 0;
    }
  }

  &__marque {
    @include ecran($ecran-moyen) {
      grid-column: 1 / -1;
    }

    @include ecran($ecran-large) {
      grid-column: auto;
    }

    .d38-slogan {
      margin-block: 1.5rem 0;
    }
  }

  &__titre {
    margin-block: 0 1rem;
    color: var(--vert-eau);
    font-size: 1.125rem;
  }

  &__bloc p {
    margin-block: 0 0.375rem;
  }

  &__liens {
    @include liste-nue;

    li + li {
      margin-top: 0.375rem;
    }
  }

  &__mention {
    margin-block: 3rem 0;
    padding-top: 1.5rem;
    border-top: 2px solid var(--bleu-canard);
    font-size: 0.9375rem;
  }
}
